<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feedback.mapper.mybatis.StationPeopleMapper">
  <resultMap id="BaseResultMap" type="com.feedback.domain.output.StationPeopleOutput">
    <id column="RESOURCE_ID" jdbcType="DECIMAL" property="resourceId" />
    <result column="CODE" jdbcType="VARCHAR" property="code" />
    <result column="CREATION_TIME" jdbcType="TIMESTAMP" property="creationTime" />
    <result column="DEPT_CODE" jdbcType="VARCHAR" property="deptCode" />
    <result column="DEPT_NAME" jdbcType="VARCHAR" property="deptName" />
    <result column="FULL_SEQUENCE" jdbcType="VARCHAR" property="fullSequence" />
    <result column="GROUP_CODE" jdbcType="VARCHAR" property="groupCode" />
    <result column="GROUP_NAME" jdbcType="VARCHAR" property="groupName" />
    <result column="MOBILE" jdbcType="VARCHAR" property="mobile" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="PRIORITY_CODE" jdbcType="VARCHAR" property="priorityCode" />
    <result column="SCHEDULE_CODE" jdbcType="VARCHAR" property="scheduleCode" />
    <result column="SEQUENCE_NUMBER" jdbcType="DECIMAL" property="sequenceNumber" />
    <result column="SORT_INDEX" jdbcType="DECIMAL" property="sortIndex" />
    <result column="SOURCE" jdbcType="VARCHAR" property="source" />
    <result column="STATUS_CODE" jdbcType="VARCHAR" property="statusCode" />
    <result column="STATUS" jdbcType="DECIMAL" property="status"/>
    <result column="TAKE_NUMBER_TIME" jdbcType="TIMESTAMP" property="takeNumberTime"/>
    <result column="CANCEL_TIME" jdbcType="TIMESTAMP" property="cancelTime"/>
    <result column="COMPLETE_TIME" jdbcType="TIMESTAMP" property="completeTime"/>
    <result column="START_WORK_TIME" jdbcType="TIMESTAMP" property="startWorkTime"/>
    <result column="PASS_TIME" jdbcType="TIMESTAMP" property="passTime"/>
    <result column="MATTERS" jdbcType="VARCHAR" property="matters"/>
  </resultMap>
  <sql id="Base_Column_List">
    CODE, CREATION_TIME, DEPT_CODE, DEPT_NAME, FULL_SEQUENCE, GROUP_CODE, GROUP_NAME,
    MOBILE, NAME, PRIORITY_CODE, RESOURCE_ID, SCHEDULE_CODE, SEQUENCE_NUMBER, SORT_INDEX,
    SOURCE, STATUS_CODE,STATUS,TAKE_NUMBER_TIME,CANCEL_TIME,COMPLETE_TIME,START_WORK_TIME,PASS_TIME,MATTERS
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    s.*,
    o.name as orgName,
    o.ID as orgId
    from STATION_PEOPLE s
    inner join ORGANIZATION o
    on o.ORGANIZATION_NO = s.DEPT_CODE and o.AMPUTATED = 0
    where s.RESOURCE_ID = #{resourceId,jdbcType=DECIMAL}
  </select>


</mapper>
