<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.attendance.mapper.mybatis.AttachmentConfigMapper">
  <resultMap id="BaseResultMap" type="com.attendance.model.AttachmentConfig">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="ALLOW_FILES" jdbcType="VARCHAR" property="allowFiles" />
    <result column="COMPRESS_MAX_WIDTH" jdbcType="DECIMAL" property="compressMaxWidth" />
    <result column="CONFIG_NAME" jdbcType="VARCHAR" property="configName" />
    <result column="CONFIG_TYPE" jdbcType="DECIMAL" property="configType" />
    <result column="CREATED_DATE_TIME" jdbcType="TIMESTAMP" property="createdDateTime" />
    <result column="CREATED_USER_ID" jdbcType="DECIMAL" property="createdUserId" />
    <result column="CREATED_USER_NAME" jdbcType="VARCHAR" property="createdUserName" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <result column="LAST_UPDATE_DATE_TIME" jdbcType="TIMESTAMP" property="lastUpdateDateTime" />
    <result column="LAST_UPDATE_USER_ID" jdbcType="DECIMAL" property="lastUpdateUserId" />
    <result column="LAST_UPDATE_USER_NAME" jdbcType="VARCHAR" property="lastUpdateUserName" />
    <result column="MAX_SIZE" jdbcType="DECIMAL" property="maxSize" />
    <result column="MIN_SIZE" jdbcType="DECIMAL" property="minSize" />
    <result column="STATE" jdbcType="DECIMAL" property="state" />
    <result column="URL_PREFIX" jdbcType="VARCHAR" property="urlPrefix" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, ALLOW_FILES, COMPRESS_MAX_WIDTH, CONFIG_NAME, CONFIG_TYPE, CREATED_DATE_TIME,
    CREATED_USER_ID, CREATED_USER_NAME, DESCRIPTION, LAST_UPDATE_DATE_TIME, LAST_UPDATE_USER_ID,
    LAST_UPDATE_USER_NAME, MAX_SIZE, MIN_SIZE, STATE, URL_PREFIX
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from ATTACHMENT_CONFIG
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ATTACHMENT_CONFIG
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.attendance.model.AttachmentConfig">
    insert into ATTACHMENT_CONFIG (ID, ALLOW_FILES, COMPRESS_MAX_WIDTH,
      CONFIG_NAME, CONFIG_TYPE, CREATED_DATE_TIME,
      CREATED_USER_ID, CREATED_USER_NAME, DESCRIPTION,
      LAST_UPDATE_DATE_TIME, LAST_UPDATE_USER_ID,
      LAST_UPDATE_USER_NAME, MAX_SIZE, MIN_SIZE,
      STATE, URL_PREFIX)
    values (#{id,jdbcType=DECIMAL}, #{allowFiles,jdbcType=VARCHAR}, #{compressMaxWidth,jdbcType=DECIMAL},
      #{configName,jdbcType=VARCHAR}, #{configType,jdbcType=DECIMAL}, #{createdDateTime,jdbcType=TIMESTAMP},
      #{createdUserId,jdbcType=DECIMAL}, #{createdUserName,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR},
      #{lastUpdateDateTime,jdbcType=TIMESTAMP}, #{lastUpdateUserId,jdbcType=DECIMAL},
      #{lastUpdateUserName,jdbcType=VARCHAR}, #{maxSize,jdbcType=DECIMAL}, #{minSize,jdbcType=DECIMAL},
      #{state,jdbcType=DECIMAL}, #{urlPrefix,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.attendance.model.AttachmentConfig">
    insert into ATTACHMENT_CONFIG
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="allowFiles != null">
        ALLOW_FILES,
      </if>
      <if test="compressMaxWidth != null">
        COMPRESS_MAX_WIDTH,
      </if>
      <if test="configName != null">
        CONFIG_NAME,
      </if>
      <if test="configType != null">
        CONFIG_TYPE,
      </if>
      <if test="createdDateTime != null">
        CREATED_DATE_TIME,
      </if>
      <if test="createdUserId != null">
        CREATED_USER_ID,
      </if>
      <if test="createdUserName != null">
        CREATED_USER_NAME,
      </if>
      <if test="description != null">
        DESCRIPTION,
      </if>
      <if test="lastUpdateDateTime != null">
        LAST_UPDATE_DATE_TIME,
      </if>
      <if test="lastUpdateUserId != null">
        LAST_UPDATE_USER_ID,
      </if>
      <if test="lastUpdateUserName != null">
        LAST_UPDATE_USER_NAME,
      </if>
      <if test="maxSize != null">
        MAX_SIZE,
      </if>
      <if test="minSize != null">
        MIN_SIZE,
      </if>
      <if test="state != null">
        STATE,
      </if>
      <if test="urlPrefix != null">
        URL_PREFIX,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="allowFiles != null">
        #{allowFiles,jdbcType=VARCHAR},
      </if>
      <if test="compressMaxWidth != null">
        #{compressMaxWidth,jdbcType=DECIMAL},
      </if>
      <if test="configName != null">
        #{configName,jdbcType=VARCHAR},
      </if>
      <if test="configType != null">
        #{configType,jdbcType=DECIMAL},
      </if>
      <if test="createdDateTime != null">
        #{createdDateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdUserId != null">
        #{createdUserId,jdbcType=DECIMAL},
      </if>
      <if test="createdUserName != null">
        #{createdUserName,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateDateTime != null">
        #{lastUpdateDateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateUserId != null">
        #{lastUpdateUserId,jdbcType=DECIMAL},
      </if>
      <if test="lastUpdateUserName != null">
        #{lastUpdateUserName,jdbcType=VARCHAR},
      </if>
      <if test="maxSize != null">
        #{maxSize,jdbcType=DECIMAL},
      </if>
      <if test="minSize != null">
        #{minSize,jdbcType=DECIMAL},
      </if>
      <if test="state != null">
        #{state,jdbcType=DECIMAL},
      </if>
      <if test="urlPrefix != null">
        #{urlPrefix,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.attendance.model.AttachmentConfig">
    update ATTACHMENT_CONFIG
    <set>
      <if test="allowFiles != null">
        ALLOW_FILES = #{allowFiles,jdbcType=VARCHAR},
      </if>
      <if test="compressMaxWidth != null">
        COMPRESS_MAX_WIDTH = #{compressMaxWidth,jdbcType=DECIMAL},
      </if>
      <if test="configName != null">
        CONFIG_NAME = #{configName,jdbcType=VARCHAR},
      </if>
      <if test="configType != null">
        CONFIG_TYPE = #{configType,jdbcType=DECIMAL},
      </if>
      <if test="createdDateTime != null">
        CREATED_DATE_TIME = #{createdDateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdUserId != null">
        CREATED_USER_ID = #{createdUserId,jdbcType=DECIMAL},
      </if>
      <if test="createdUserName != null">
        CREATED_USER_NAME = #{createdUserName,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateDateTime != null">
        LAST_UPDATE_DATE_TIME = #{lastUpdateDateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateUserId != null">
        LAST_UPDATE_USER_ID = #{lastUpdateUserId,jdbcType=DECIMAL},
      </if>
      <if test="lastUpdateUserName != null">
        LAST_UPDATE_USER_NAME = #{lastUpdateUserName,jdbcType=VARCHAR},
      </if>
      <if test="maxSize != null">
        MAX_SIZE = #{maxSize,jdbcType=DECIMAL},
      </if>
      <if test="minSize != null">
        MIN_SIZE = #{minSize,jdbcType=DECIMAL},
      </if>
      <if test="state != null">
        STATE = #{state,jdbcType=DECIMAL},
      </if>
      <if test="urlPrefix != null">
        URL_PREFIX = #{urlPrefix,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.attendance.model.AttachmentConfig">
    update ATTACHMENT_CONFIG
    set ALLOW_FILES = #{allowFiles,jdbcType=VARCHAR},
      COMPRESS_MAX_WIDTH = #{compressMaxWidth,jdbcType=DECIMAL},
      CONFIG_NAME = #{configName,jdbcType=VARCHAR},
      CONFIG_TYPE = #{configType,jdbcType=DECIMAL},
      CREATED_DATE_TIME = #{createdDateTime,jdbcType=TIMESTAMP},
      CREATED_USER_ID = #{createdUserId,jdbcType=DECIMAL},
      CREATED_USER_NAME = #{createdUserName,jdbcType=VARCHAR},
      DESCRIPTION = #{description,jdbcType=VARCHAR},
      LAST_UPDATE_DATE_TIME = #{lastUpdateDateTime,jdbcType=TIMESTAMP},
      LAST_UPDATE_USER_ID = #{lastUpdateUserId,jdbcType=DECIMAL},
      LAST_UPDATE_USER_NAME = #{lastUpdateUserName,jdbcType=VARCHAR},
      MAX_SIZE = #{maxSize,jdbcType=DECIMAL},
      MIN_SIZE = #{minSize,jdbcType=DECIMAL},
      STATE = #{state,jdbcType=DECIMAL},
      URL_PREFIX = #{urlPrefix,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>

</mapper>
