<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.attendance.mapper.mybatis.AttendanceRuleMapper">
  <resultMap id="BaseResultMap" type="com.attendance.domian.output.AttendanceRuleOutput">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="CREATED_DATE_TIME" jdbcType="TIMESTAMP" property="createdDateTime" />
    <result column="CREATED_USER_ID" jdbcType="DECIMAL" property="createdUserId" />
    <result column="CREATED_USER_NAME" jdbcType="VARCHAR" property="createdUserName" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <result column="DISPLAY_ORDER" jdbcType="DECIMAL" property="displayOrder" />
    <result column="AMPUTATED" jdbcType="DECIMAL" property="amputated" />
    <result column="LAST_UPDATE_DATE_TIME" jdbcType="TIMESTAMP" property="lastUpdateDateTime" />
    <result column="LAST_UPDATE_USER_ID" jdbcType="DECIMAL" property="lastUpdateUserId" />
    <result column="LAST_UPDATE_USER_NAME" jdbcType="VARCHAR" property="lastUpdateUserName" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="STATE" jdbcType="DECIMAL" property="state" />
    <result column="TYPE" jdbcType="DECIMAL" property="type" />
    <result column="VALUE" jdbcType="VARCHAR" property="value" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, CREATED_DATE_TIME, CREATED_USER_ID, CREATED_USER_NAME, DESCRIPTION, DISPLAY_ORDER,
    AMPUTATED, LAST_UPDATE_DATE_TIME, LAST_UPDATE_USER_ID, LAST_UPDATE_USER_NAME, NAME,
    STATE, TYPE, VALUE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from ATTENDANCE_RULE
    where ID = #{id,jdbcType=DECIMAL} and AMPUTATED = 0
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from ATTENDANCE_RULE
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.attendance.model.AttendanceRule">
    insert into ATTENDANCE_RULE (ID, CREATED_DATE_TIME, CREATED_USER_ID,
      CREATED_USER_NAME, DESCRIPTION, DISPLAY_ORDER,
      AMPUTATED, LAST_UPDATE_DATE_TIME, LAST_UPDATE_USER_ID,
      LAST_UPDATE_USER_NAME, NAME, STATE,
      TYPE, VALUE)
    values (#{id,jdbcType=DECIMAL}, #{createdDateTime,jdbcType=TIMESTAMP}, #{createdUserId,jdbcType=DECIMAL},
      #{createdUserName,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{displayOrder,jdbcType=DECIMAL},
      #{amputated,jdbcType=DECIMAL}, #{lastUpdateDateTime,jdbcType=TIMESTAMP}, #{lastUpdateUserId,jdbcType=DECIMAL},
      #{lastUpdateUserName,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{state,jdbcType=DECIMAL},
      #{type,jdbcType=DECIMAL}, #{value,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.attendance.model.AttendanceRule">
    insert into ATTENDANCE_RULE
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="createdDateTime != null">
        CREATED_DATE_TIME,
      </if>
      <if test="createdUserId != null">
        CREATED_USER_ID,
      </if>
      <if test="createdUserName != null">
        CREATED_USER_NAME,
      </if>
      <if test="description != null">
        DESCRIPTION,
      </if>
      <if test="displayOrder != null">
        DISPLAY_ORDER,
      </if>
      <if test="amputated != null">
        AMPUTATED,
      </if>
      <if test="lastUpdateDateTime != null">
        LAST_UPDATE_DATE_TIME,
      </if>
      <if test="lastUpdateUserId != null">
        LAST_UPDATE_USER_ID,
      </if>
      <if test="lastUpdateUserName != null">
        LAST_UPDATE_USER_NAME,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="state != null">
        STATE,
      </if>
      <if test="type != null">
        TYPE,
      </if>
      <if test="value != null">
        VALUE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="createdDateTime != null">
        #{createdDateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdUserId != null">
        #{createdUserId,jdbcType=DECIMAL},
      </if>
      <if test="createdUserName != null">
        #{createdUserName,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="displayOrder != null">
        #{displayOrder,jdbcType=DECIMAL},
      </if>
      <if test="amputated != null">
        #{amputated,jdbcType=DECIMAL},
      </if>
      <if test="lastUpdateDateTime != null">
        #{lastUpdateDateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateUserId != null">
        #{lastUpdateUserId,jdbcType=DECIMAL},
      </if>
      <if test="lastUpdateUserName != null">
        #{lastUpdateUserName,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=DECIMAL},
      </if>
      <if test="type != null">
        #{type,jdbcType=DECIMAL},
      </if>
      <if test="value != null">
        #{value,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.attendance.model.AttendanceRule">
    update ATTENDANCE_RULE
    <set>
      <if test="createdDateTime != null">
        CREATED_DATE_TIME = #{createdDateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdUserId != null">
        CREATED_USER_ID = #{createdUserId,jdbcType=DECIMAL},
      </if>
      <if test="createdUserName != null">
        CREATED_USER_NAME = #{createdUserName,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="displayOrder != null">
        DISPLAY_ORDER = #{displayOrder,jdbcType=DECIMAL},
      </if>
      <if test="amputated != null">
        AMPUTATED = #{amputated,jdbcType=DECIMAL},
      </if>
      <if test="lastUpdateDateTime != null">
        LAST_UPDATE_DATE_TIME = #{lastUpdateDateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateUserId != null">
        LAST_UPDATE_USER_ID = #{lastUpdateUserId,jdbcType=DECIMAL},
      </if>
      <if test="lastUpdateUserName != null">
        LAST_UPDATE_USER_NAME = #{lastUpdateUserName,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        STATE = #{state,jdbcType=DECIMAL},
      </if>
      <if test="type != null">
        TYPE = #{type,jdbcType=DECIMAL},
      </if>
      <if test="value != null">
        VALUE = #{value,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.attendance.model.AttendanceRule">
    update ATTENDANCE_RULE
    set CREATED_DATE_TIME = #{createdDateTime,jdbcType=TIMESTAMP},
      CREATED_USER_ID = #{createdUserId,jdbcType=DECIMAL},
      CREATED_USER_NAME = #{createdUserName,jdbcType=VARCHAR},
      DESCRIPTION = #{description,jdbcType=VARCHAR},
      DISPLAY_ORDER = #{displayOrder,jdbcType=DECIMAL},
      AMPUTATED = #{amputated,jdbcType=DECIMAL},
      LAST_UPDATE_DATE_TIME = #{lastUpdateDateTime,jdbcType=TIMESTAMP},
      LAST_UPDATE_USER_ID = #{lastUpdateUserId,jdbcType=DECIMAL},
      LAST_UPDATE_USER_NAME = #{lastUpdateUserName,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      STATE = #{state,jdbcType=DECIMAL},
      TYPE = #{type,jdbcType=DECIMAL},
      VALUE = #{value,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <select id="selectAll" resultMap="BaseResultMap" parameterType="com.common.model.PageData">
    SELECT
    ATTENDANCERULE.CREATED_DATE_TIME,
    ATTENDANCERULE.CREATED_USER_ID,
    ATTENDANCERULE.CREATED_USER_NAME,
    ATTENDANCERULE.DESCRIPTION,
    ATTENDANCERULE.DISPLAY_ORDER,
    ATTENDANCERULE.ID,
    ATTENDANCERULE.AMPUTATED,
    ATTENDANCERULE.LAST_UPDATE_DATE_TIME,
    ATTENDANCERULE.LAST_UPDATE_USER_ID,
    ATTENDANCERULE.LAST_UPDATE_USER_NAME,
    ATTENDANCERULE.NAME,
    ATTENDANCERULE.STATE,
    ATTENDANCERULE.TYPE,
    ATTENDANCERULE.VALUE
    FROM
    ATTENDANCE_RULE ATTENDANCERULE
    <trim prefix="where" suffixOverrides="and">
      <if test="name!=null and name !='' ">ATTENDANCERULE.NAME like '%'||#{name}||'%' and</if>
      <if test="amputated!=null and amputated !='' ">ATTENDANCERULE.AMPUTATED = #{amputated} and</if>
      ATTENDANCERULE.STATE=1
    </trim>
    ORDER BY ATTENDANCERULE.LAST_UPDATE_DATE_TIME DESC
  </select>


  <select id="selectPage" resultMap="BaseResultMap">
    SELECT
    ATTENDANCERULE.CREATED_DATE_TIME,
    ATTENDANCERULE.CREATED_USER_ID,
    ATTENDANCERULE.CREATED_USER_NAME,
    ATTENDANCERULE.DESCRIPTION,
    ATTENDANCERULE.DISPLAY_ORDER,
    ATTENDANCERULE.ID,
    ATTENDANCERULE.AMPUTATED,
    ATTENDANCERULE.LAST_UPDATE_DATE_TIME,
    ATTENDANCERULE.LAST_UPDATE_USER_ID,
    ATTENDANCERULE.LAST_UPDATE_USER_NAME,
    ATTENDANCERULE.NAME,
    ATTENDANCERULE.STATE,
    ATTENDANCERULE.TYPE,
    ATTENDANCERULE.VALUE
    FROM
    ATTENDANCE_RULE ATTENDANCERULE
    WHERE  ATTENDANCERULE.AMPUTATED=0
    <trim prefix="AND" suffixOverrides="and">
      <if test="name!=null and name !='' ">ATTENDANCERULE.NAME like '%'||#{name}||'%' and</if>
    </trim>
    ORDER BY ATTENDANCERULE.LAST_UPDATE_DATE_TIME DESC
  </select>

  <select id="selectNameByValue" parameterType="string" resultType="string">
    select rule.NAME
    from ATTENDANCE_RULE  rule
    where rule.VALUE=#{dateTime,jdbcType=VARCHAR}
  </select>


  <select id="selectInUse" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from ATTENDANCE_RULE
    where TYPE is not null and STATE=1
  </select>

</mapper>
