<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.meeting.mapper.mybatis.MeetingApplyMapper">
  <resultMap id="BaseResultMap" type="com.meeting.domain.output.MeetingApplyOutput">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="AMPUTATED" jdbcType="DECIMAL" property="amputated" />
    <result column="APPOINTMENT_DATE" jdbcType="TIMESTAMP" property="appointmentDate" />
    <result column="ATTENDANTS" jdbcType="VARCHAR" property="attendants" />
    <result column="ATTENDANTS_NAME" jdbcType="VARCHAR" property="attendantsName" />
    <result column="CREATED_DATE_TIME" jdbcType="TIMESTAMP" property="createdDateTime" />
    <result column="CREATED_USER_ID" jdbcType="DECIMAL" property="createdUserId" />
    <result column="CREATED_USER_NAME" jdbcType="VARCHAR" property="createdUserName" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <result column="EMPLOYEES_ID" jdbcType="DECIMAL" property="employeesId" />
    <result column="END_DATE_TIME" jdbcType="DECIMAL" property="endDateTime" />
    <result column="HOST_UNIT" jdbcType="VARCHAR" property="hostUnit" />
    <result column="MEETING_NUMBER" jdbcType="DECIMAL" property="meetingNumber"/>
    <result column="LAST_UPDATE_DATE_TIME" jdbcType="TIMESTAMP" property="lastUpdateDateTime" />
    <result column="LAST_UPDATE_USER_ID" jdbcType="DECIMAL" property="lastUpdateUserId" />
    <result column="LAST_UPDATE_USER_NAME" jdbcType="VARCHAR" property="lastUpdateUserName" />
    <result column="MEETING_ROOM_ID" jdbcType="DECIMAL" property="meetingRoomId" />
    <result column="ORGANIZATION_ID" jdbcType="DECIMAL" property="organizationId" />
    <result column="START_DATE_TIME" jdbcType="DECIMAL" property="startDateTime" />
    <result column="STATE" jdbcType="DECIMAL" property="state" />
    <result column="THEME" jdbcType="VARCHAR" property="theme" />
    <result column="roomName" jdbcType="VARCHAR" property="roomName" />
    <result column="organizationName" jdbcType="VARCHAR" property="organizationName" />
    <result column="employeesName" jdbcType="VARCHAR" property="employeesName" />
    <result column="IS_NEED_TEA" jdbcType="DECIMAL" property="isNeedTea" />
    <result column="IS_NEED_NEETWORK" jdbcType="DECIMAL" property="isNeedNeetwork" />
    <result column="REAL_START_TIME" jdbcType="VARCHAR" property= "realStartTime"/>
    <result column="phoneNumber" jdbcType="VARCHAR" property="phoneNumber" />
    <result column="retirees_Name" jdbcType="VARCHAR" property="retireesName" />
    <result column="retirees" jdbcType="VARCHAR" property="retirees" />
    <result column="TEA_NAME" jdbcType="VARCHAR" property="teaName" />
    <result column="TEA_PHONE" jdbcType="VARCHAR" property="teaPhone" />
    <result column="IT_NAME" jdbcType="VARCHAR" property="itName" />
    <result column="IT_PHONE" jdbcType="VARCHAR" property="itPhone" />
  </resultMap>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
     SELECT
    meetingApply.id,
    meetingApply.amputated,
    meetingApply.attendants,
    meetingApply.created_date_time,
    meetingApply.created_user_name,
    meetingApply.created_user_id,
    meetingApply.theme,
    meetingApply.meeting_room_id,
    meetingApply.end_date_time,
    meetingApply.start_date_time,
    meetingApply.host_unit,
    meetingApply.description,
    meetingApply.state,
    meetingApply.APPOINTMENT_date,
    meetingApply.attendants_name,
    meetingApply.last_update_user_Id,
    meetingApply.last_update_user_Name,
    meetingApply.last_update_date_time,
    meetingApply.IS_NEED_TEA,
    meetingApply.IS_NEED_NEETWORK,
    meetingApply.MEETING_NUMBER,
    meetingApply.REAL_START_TIME,
    meetingRoom.name as roomName,
    organization.name as organizationName,
    emplyees.name as employeesName,
    meetingApply.organization_id,
    meetingApply.employees_id,
    meetingApply.retirees_Name,
    meetingApply.retirees,
    meetingRoom.TEA_NAME,
    meetingRoom.TEA_PHONE,
    meetingRoom.IT_NAME,
    meetingRoom.IT_PHONE,
    emplyees.phone_number as phoneNumber
    FROM
    MEETING_APPLY meetingApply
    left join EMPLOYEES emplyees on emplyees.id=meetingApply.employees_id
    left join ORGANIZATION organization on organization.id=meetingApply.organization_id
    left join MEETING_ROOM meetingRoom on meetingRoom.id =meetingApply.meeting_room_id
    where meetingApply.ID = #{id}
  </select>
  <select id="selectPage" resultMap="BaseResultMap">
    SELECT
    meetingApply.id,
    meetingApply.amputated,
    meetingApply.attendants,
    meetingApply.created_date_time,
    meetingApply.created_user_name,
    meetingApply.created_user_id,
    meetingApply.theme,
    meetingApply.meeting_room_id,
    meetingApply.end_date_time,
    meetingApply.start_date_time,
    meetingApply.host_unit,
    meetingApply.description,
    meetingApply.state,
	meetingApply.APPOINTMENT_date,
	meetingApply.attendants_name,
    meetingApply.last_update_user_Id,
    meetingApply.last_update_user_Name,
    meetingApply.last_update_date_time,
    meetingApply.organization_id,
    meetingApply.employees_id,
    meetingApply.REAL_START_TIME,
    meetingRoom.name as roomName,
    meetingRoom.CONTAIN_NUMBER as containNumber,
    organization.name as organizationName,
    emplyees.name as employeesName
    FROM
    MEETING_APPLY meetingApply
    left join EMPLOYEES emplyees on emplyees.id=meetingApply.employees_id
    left join ORGANIZATION organization on organization.id=meetingApply.organization_id
    left join MEETING_ROOM meetingRoom on meetingRoom.id =meetingApply.meeting_room_id
    WHERE meetingApply.AMPUTATED = 0
    <trim prefix="AND" suffixOverrides="and">
      <if test="date!=null and date !='' "> to_char(meetingApply.APPOINTMENT_date, 'yyyy-mm-dd')= #{date}  and </if>
    </trim>
  </select>

  <select id="selectAll" resultMap="BaseResultMap">
    SELECT
    meetingApply.id,
    meetingApply.amputated,
    meetingApply.attendants,
    meetingApply.created_date_time,
    meetingApply.created_user_name,
    meetingApply.created_user_id,
    meetingApply.theme,
    meetingApply.meeting_room_id,
    meetingApply.end_date_time,
    meetingApply.start_date_time,
    meetingApply.host_unit,
    meetingApply.description,
    meetingApply.state,
    meetingApply.APPOINTMENT_date,
    meetingApply.attendants_name,
    meetingApply.last_update_user_Id,
    meetingApply.last_update_user_Name,
    meetingApply.last_update_date_time,
    meetingApply.organization_id,
    meetingApply.employees_id,
    meetingApply.REAL_START_TIME,
    meetingRoom.name as roomName,
    organization.name as organizationName,
    meetingRoom.CONTAIN_NUMBER as containNumber,
    emplyees.name as employeesName
    FROM
    MEETING_APPLY meetingApply
    left join EMPLOYEES emplyees on emplyees.id=meetingApply.employees_id
    left join ORGANIZATION organization on organization.id=meetingApply.organization_id
    left join MEETING_ROOM meetingRoom on meetingRoom.id =meetingApply.meeting_room_id
    WHERE meetingApply.AMPUTATED = 0 and meetingApply.state!=2
    <trim prefix="AND" suffixOverrides="and">
      <if test="date!=null and date !='' "> to_char(meetingApply.APPOINTMENT_date, 'yyyy-mm-dd')= #{date}  and </if>
    </trim>
  </select>

  <select id="selectByids" resultType="com.meeting.domain.output.Member">
    select
    id,name,phone_Number as phoneNumber
    from employees
    where id in
    <foreach close=")" collection="list" index="index" item="item" open="(" separator=",">
      #{item}
    </foreach>
  </select>

  <select id="selectMyMeetingApply" resultMap="BaseResultMap" parameterType="com.common.model.PageData">
    SELECT
    distinct
    meetingApply.id,
    meetingApply.amputated,
    meetingApply.attendants,
    meetingApply.created_date_time,
    meetingApply.created_user_name,
    meetingApply.created_user_id,
    meetingApply.theme,
    meetingApply.meeting_room_id,
    meetingApply.end_date_time,
    meetingApply.start_date_time,
    meetingApply.host_unit,
    meetingApply.description,
    meetingApply.state,
    meetingApply.APPOINTMENT_date,
    meetingApply.attendants_name,
    meetingApply.last_update_user_Id,
    meetingApply.last_update_user_Name,
    meetingApply.last_update_date_time,
    meetingApply.organization_id,
    meetingApply.employees_id,
    meetingApply.REAL_START_TIME,
    meetingRoom.name as roomName,
    organization.name as organizationName,
    emplyees.name as employeesName
    FROM
    MEETING_APPLY meetingApply
    left join EMPLOYEES emplyees on emplyees.id=meetingApply.employees_id
    left join ORGANIZATION organization on organization.id=meetingApply.organization_id
    left join MEETING_ROOM meetingRoom on meetingRoom.id =meetingApply.meeting_room_id
    WHERE meetingApply.AMPUTATED = 0 and (
    meetingApply.CREATED_USER_ID = #{employeeId} or
    meetingApply.employees_id = #{employeeId} or
    meetingApply.attendants like '%'||#{employeeId}||'%'
    )
    and to_char(meetingApply.APPOINTMENT_date, 'yyyy-mm-dd')= #{date}
    and meetingApply.state!=2
  </select>

  <select id="selectByRoomId" resultMap="BaseResultMap" parameterType="com.common.model.PageData">
    SELECT
    distinct
    meetingApply.id,
    meetingApply.amputated,
    meetingApply.attendants,
    meetingApply.created_date_time,
    meetingApply.created_user_name,
    meetingApply.created_user_id,
    meetingApply.theme,
    meetingApply.meeting_room_id,
    meetingApply.end_date_time,
    meetingApply.start_date_time,
    meetingApply.host_unit,
    meetingApply.description,
    meetingApply.state,
    meetingApply.APPOINTMENT_date,
    meetingApply.attendants_name,
    meetingApply.last_update_user_Id,
    meetingApply.last_update_user_Name,
    meetingApply.last_update_date_time,
    meetingApply.organization_id,
    meetingApply.employees_id,
    meetingApply.REAL_START_TIME,
    meetingRoom.name as roomName,
    organization.name as organizationName,
    emplyees.name as employeesName
    FROM
    MEETING_APPLY meetingApply
    left join EMPLOYEES emplyees on emplyees.id=meetingApply.employees_id
    left join ORGANIZATION organization on organization.id=meetingApply.organization_id
    left join MEETING_ROOM meetingRoom on meetingRoom.id =meetingApply.meeting_room_id
    WHERE meetingApply.AMPUTATED = 0 and meetingApply.state!=2
    and to_char(meetingApply.APPOINTMENT_date, 'yyyy-mm-dd')= #{date}
    and meetingApply.meeting_room_id = #{meetingRoomId}
  </select>


  <select id="selectOutputByRoomId" resultMap="BaseResultMap" parameterType="com.common.model.PageData">
    SELECT
    distinct
    meetingApply.id,
    meetingApply.amputated,
    meetingApply.attendants,
    meetingApply.created_date_time,
    meetingApply.created_user_name,
    meetingApply.created_user_id,
    meetingApply.theme,
    meetingApply.meeting_room_id,
    meetingApply.end_date_time,
    meetingApply.start_date_time,
    meetingApply.host_unit,
    meetingApply.description,
    meetingApply.state,
    meetingApply.APPOINTMENT_date,
    meetingApply.attendants_name,
    meetingApply.last_update_user_Id,
    meetingApply.last_update_user_Name,
    meetingApply.last_update_date_time,
    meetingApply.organization_id,
    meetingApply.employees_id,
    meetingApply.REAL_START_TIME,
    meetingRoom.name as roomName,
    organization.name as organizationName,
    emplyees.name as employeesName
    FROM
    MEETING_APPLY meetingApply
    left join EMPLOYEES emplyees on emplyees.id=meetingApply.employees_id
    left join ORGANIZATION organization on organization.id=meetingApply.organization_id
    left join MEETING_ROOM meetingRoom on meetingRoom.id =meetingApply.meeting_room_id
    WHERE meetingApply.AMPUTATED = 0 and meetingApply.state!=2
    and meetingApply.meeting_room_id = #{meetingRoomId}
  </select>

  <select id="selectByIds" resultType="com.meeting.domain.output.Member">
    select
    id,name,phone_Number as phoneNumber
    from ADDRESS_BOOK
    where id in
    <foreach close=")" collection="list" index="index" item="item" open="(" separator=",">
      #{item}
    </foreach>
  </select>
</mapper>