<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stamp.mapper.mybatis.StampOrganMapper">
  <resultMap id="BaseResultMap" type="com.stamp.domain.output.StampOrganOutput">
    <id column="ID" jdbcType="DECIMAL" property="id" />
    <result column="ADDRESS" jdbcType="VARCHAR" property="address" />
    <result column="AMPUTATED" jdbcType="DECIMAL" property="amputated" />
    <result column="CREATED_DATE_TIME" jdbcType="TIMESTAMP" property="createdDateTime" />
    <result column="CREATED_USER_ID" jdbcType="DECIMAL" property="createdUserId" />
    <result column="CREATED_USER_NAME" jdbcType="VARCHAR" property="createdUserName" />
    <result column="DEPARTMENTAL_MANAGER" jdbcType="VARCHAR" property="departmentalManager" />
    <result column="DESCRIPTION" jdbcType="VARCHAR" property="description" />
    <result column="DISPLAY_ORDER" jdbcType="DECIMAL" property="displayOrder" />
    <result column="FIRST_LETTER" jdbcType="DECIMAL" property="firstLetter" />
    <result column="LAST_UPDATE_DATE_TIME" jdbcType="TIMESTAMP" property="lastUpdateDateTime" />
    <result column="LAST_UPDATE_USER_ID" jdbcType="DECIMAL" property="lastUpdateUserId" />
    <result column="LAST_UPDATE_USER_NAME" jdbcType="VARCHAR" property="lastUpdateUserName" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="ORGANIZATION_NO" jdbcType="VARCHAR" property="organizationNo" />
    <result column="PARENT_ID" jdbcType="DECIMAL" property="parentId" />
    <result column="PATH" jdbcType="VARCHAR" property="path" />
    <result column="PHONE_NUMBER" jdbcType="VARCHAR" property="phoneNumber" />
    <result column="TYPE" jdbcType="DECIMAL" property="type" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, ADDRESS, AMPUTATED, CREATED_DATE_TIME, CREATED_USER_ID, CREATED_USER_NAME, DEPARTMENTAL_MANAGER,
    DESCRIPTION, DISPLAY_ORDER, FIRST_LETTER, LAST_UPDATE_DATE_TIME, LAST_UPDATE_USER_ID,
    LAST_UPDATE_USER_NAME, NAME, ORGANIZATION_NO, PARENT_ID, PATH, PHONE_NUMBER, TYPE
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from STAMP_ORGAN
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from STAMP_ORGAN
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.stamp.model.StampOrgan">
    insert into STAMP_ORGAN (ID, ADDRESS, AMPUTATED,
      CREATED_DATE_TIME, CREATED_USER_ID, CREATED_USER_NAME,
      DEPARTMENTAL_MANAGER, DESCRIPTION, DISPLAY_ORDER,
      FIRST_LETTER, LAST_UPDATE_DATE_TIME, LAST_UPDATE_USER_ID,
      LAST_UPDATE_USER_NAME, NAME, ORGANIZATION_NO,
      PARENT_ID, PATH, PHONE_NUMBER,
      TYPE)
    values (#{id,jdbcType=DECIMAL}, #{address,jdbcType=VARCHAR}, #{amputated,jdbcType=DECIMAL},
      #{createdDateTime,jdbcType=TIMESTAMP}, #{createdUserId,jdbcType=DECIMAL}, #{createdUserName,jdbcType=VARCHAR},
      #{departmentalManager,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{displayOrder,jdbcType=DECIMAL},
      #{firstLetter,jdbcType=DECIMAL}, #{lastUpdateDateTime,jdbcType=TIMESTAMP}, #{lastUpdateUserId,jdbcType=DECIMAL},
      #{lastUpdateUserName,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{organizationNo,jdbcType=VARCHAR},
      #{parentId,jdbcType=DECIMAL}, #{path,jdbcType=VARCHAR}, #{phoneNumber,jdbcType=VARCHAR},
      #{type,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.stamp.model.StampOrgan">
    insert into STAMP_ORGAN
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="address != null">
        ADDRESS,
      </if>
      <if test="amputated != null">
        AMPUTATED,
      </if>
      <if test="createdDateTime != null">
        CREATED_DATE_TIME,
      </if>
      <if test="createdUserId != null">
        CREATED_USER_ID,
      </if>
      <if test="createdUserName != null">
        CREATED_USER_NAME,
      </if>
      <if test="departmentalManager != null">
        DEPARTMENTAL_MANAGER,
      </if>
      <if test="description != null">
        DESCRIPTION,
      </if>
      <if test="displayOrder != null">
        DISPLAY_ORDER,
      </if>
      <if test="firstLetter != null">
        FIRST_LETTER,
      </if>
      <if test="lastUpdateDateTime != null">
        LAST_UPDATE_DATE_TIME,
      </if>
      <if test="lastUpdateUserId != null">
        LAST_UPDATE_USER_ID,
      </if>
      <if test="lastUpdateUserName != null">
        LAST_UPDATE_USER_NAME,
      </if>
      <if test="name != null">
        NAME,
      </if>
      <if test="organizationNo != null">
        ORGANIZATION_NO,
      </if>
      <if test="parentId != null">
        PARENT_ID,
      </if>
      <if test="path != null">
        PATH,
      </if>
      <if test="phoneNumber != null">
        PHONE_NUMBER,
      </if>
      <if test="type != null">
        TYPE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="amputated != null">
        #{amputated,jdbcType=DECIMAL},
      </if>
      <if test="createdDateTime != null">
        #{createdDateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdUserId != null">
        #{createdUserId,jdbcType=DECIMAL},
      </if>
      <if test="createdUserName != null">
        #{createdUserName,jdbcType=VARCHAR},
      </if>
      <if test="departmentalManager != null">
        #{departmentalManager,jdbcType=DECIMAL},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="displayOrder != null">
        #{displayOrder,jdbcType=DECIMAL},
      </if>
      <if test="firstLetter != null">
        #{firstLetter,jdbcType=DECIMAL},
      </if>
      <if test="lastUpdateDateTime != null">
        #{lastUpdateDateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateUserId != null">
        #{lastUpdateUserId,jdbcType=DECIMAL},
      </if>
      <if test="lastUpdateUserName != null">
        #{lastUpdateUserName,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="organizationNo != null">
        #{organizationNo,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=DECIMAL},
      </if>
      <if test="path != null">
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumber != null">
        #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.stamp.model.StampOrgan">
    update STAMP_ORGAN
    <set>
      <if test="address != null">
        ADDRESS = #{address,jdbcType=VARCHAR},
      </if>
      <if test="amputated != null">
        AMPUTATED = #{amputated,jdbcType=DECIMAL},
      </if>
      <if test="createdDateTime != null">
        CREATED_DATE_TIME = #{createdDateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="createdUserId != null">
        CREATED_USER_ID = #{createdUserId,jdbcType=DECIMAL},
      </if>
      <if test="createdUserName != null">
        CREATED_USER_NAME = #{createdUserName,jdbcType=VARCHAR},
      </if>
      <if test="departmentalManager != null">
        DEPARTMENTAL_MANAGER = #{departmentalManager,jdbcType=DECIMAL},
      </if>
      <if test="description != null">
        DESCRIPTION = #{description,jdbcType=VARCHAR},
      </if>
      <if test="displayOrder != null">
        DISPLAY_ORDER = #{displayOrder,jdbcType=DECIMAL},
      </if>
      <if test="firstLetter != null">
        FIRST_LETTER = #{firstLetter,jdbcType=DECIMAL},
      </if>
      <if test="lastUpdateDateTime != null">
        LAST_UPDATE_DATE_TIME = #{lastUpdateDateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateUserId != null">
        LAST_UPDATE_USER_ID = #{lastUpdateUserId,jdbcType=DECIMAL},
      </if>
      <if test="lastUpdateUserName != null">
        LAST_UPDATE_USER_NAME = #{lastUpdateUserName,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        NAME = #{name,jdbcType=VARCHAR},
      </if>
      <if test="organizationNo != null">
        ORGANIZATION_NO = #{organizationNo,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null">
        PARENT_ID = #{parentId,jdbcType=DECIMAL},
      </if>
      <if test="path != null">
        PATH = #{path,jdbcType=VARCHAR},
      </if>
      <if test="phoneNumber != null">
        PHONE_NUMBER = #{phoneNumber,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        TYPE = #{type,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.stamp.model.StampOrgan">
    update STAMP_ORGAN
    set ADDRESS = #{address,jdbcType=VARCHAR},
      AMPUTATED = #{amputated,jdbcType=DECIMAL},
      CREATED_DATE_TIME = #{createdDateTime,jdbcType=TIMESTAMP},
      CREATED_USER_ID = #{createdUserId,jdbcType=DECIMAL},
      CREATED_USER_NAME = #{createdUserName,jdbcType=VARCHAR},
      DEPARTMENTAL_MANAGER = #{departmentalManager,jdbcType=DECIMAL},
      DESCRIPTION = #{description,jdbcType=VARCHAR},
      DISPLAY_ORDER = #{displayOrder,jdbcType=DECIMAL},
      FIRST_LETTER = #{firstLetter,jdbcType=DECIMAL},
      LAST_UPDATE_DATE_TIME = #{lastUpdateDateTime,jdbcType=TIMESTAMP},
      LAST_UPDATE_USER_ID = #{lastUpdateUserId,jdbcType=DECIMAL},
      LAST_UPDATE_USER_NAME = #{lastUpdateUserName,jdbcType=VARCHAR},
      NAME = #{name,jdbcType=VARCHAR},
      ORGANIZATION_NO = #{organizationNo,jdbcType=VARCHAR},
      PARENT_ID = #{parentId,jdbcType=DECIMAL},
      PATH = #{path,jdbcType=VARCHAR},
      PHONE_NUMBER = #{phoneNumber,jdbcType=VARCHAR},
      TYPE = #{type,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=DECIMAL}
  </update>

  <select id="selectMaxNo" resultType="string">
    select max(ORGANIZATION_NO) from STAMP_ORGAN
    where AMPUTATED=0
  </select>

  <select id="selectAllOrg" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from STAMP_ORGAN
    where AMPUTATED = 0
    order by ORGANIZATION_NO
  </select>

  <select id="selectByParentId" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from ORGANIZATION WHERE  AMPUTATED = 0
    and PARENT_ID = #{parentId}
  </select>
</mapper>
