<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.api.mapper.mybatis.BuildCallMapper">
  <resultMap id="BaseResultMap" type="com.api.model.BuildCall">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="CREATED_DATE_TIME" jdbcType="TIMESTAMP" property="createdDateTime" />
    <result column="OPEN_BID_TIME" jdbcType="VARCHAR" property="openBidTime" />
    <result column="PUBLISH_END_TIME" jdbcType="VARCHAR" property="publishEndTime" />
    <result column="TENDER_NAME" jdbcType="VARCHAR" property="tenderName" />
    <result column="TENDERER_NAME" jdbcType="VARCHAR" property="tendererName" />
    <result column="THIS_BUDGET" jdbcType="DECIMAL" property="thisBudget" />
  </resultMap>
  <sql id="Base_Column_List">
    ID, CREATED_DATE_TIME, OPEN_BID_TIME, PUBLISH_END_TIME, TENDER_NAME, TENDERER_NAME, 
    THIS_BUDGET
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from BUILD_CALL
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from BUILD_CALL
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.api.model.BuildCall">
    insert into BUILD_CALL (ID, CREATED_DATE_TIME, OPEN_BID_TIME, 
      PUBLISH_END_TIME, TENDER_NAME, TENDERER_NAME, 
      THIS_BUDGET)
    values (#{id,jdbcType=VARCHAR}, #{createdDateTime,jdbcType=TIMESTAMP}, #{openBidTime,jdbcType=VARCHAR}, 
      #{publishEndTime,jdbcType=VARCHAR}, #{tenderName,jdbcType=VARCHAR}, #{tendererName,jdbcType=VARCHAR}, 
      #{thisBudget,jdbcType=DECIMAL})
  </insert>
  <insert id="insertSelective" parameterType="com.api.model.BuildCall">
    insert into BUILD_CALL
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="createdDateTime != null">
        CREATED_DATE_TIME,
      </if>
      <if test="openBidTime != null">
        OPEN_BID_TIME,
      </if>
      <if test="publishEndTime != null">
        PUBLISH_END_TIME,
      </if>
      <if test="tenderName != null">
        TENDER_NAME,
      </if>
      <if test="tendererName != null">
        TENDERER_NAME,
      </if>
      <if test="thisBudget != null">
        THIS_BUDGET,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="createdDateTime != null">
        #{createdDateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="openBidTime != null">
        #{openBidTime,jdbcType=VARCHAR},
      </if>
      <if test="publishEndTime != null">
        #{publishEndTime,jdbcType=VARCHAR},
      </if>
      <if test="tenderName != null">
        #{tenderName,jdbcType=VARCHAR},
      </if>
      <if test="tendererName != null">
        #{tendererName,jdbcType=VARCHAR},
      </if>
      <if test="thisBudget != null">
        #{thisBudget,jdbcType=DECIMAL},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.api.model.BuildCall">
    update BUILD_CALL
    <set>
      <if test="createdDateTime != null">
        CREATED_DATE_TIME = #{createdDateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="openBidTime != null">
        OPEN_BID_TIME = #{openBidTime,jdbcType=VARCHAR},
      </if>
      <if test="publishEndTime != null">
        PUBLISH_END_TIME = #{publishEndTime,jdbcType=VARCHAR},
      </if>
      <if test="tenderName != null">
        TENDER_NAME = #{tenderName,jdbcType=VARCHAR},
      </if>
      <if test="tendererName != null">
        TENDERER_NAME = #{tendererName,jdbcType=VARCHAR},
      </if>
      <if test="thisBudget != null">
        THIS_BUDGET = #{thisBudget,jdbcType=DECIMAL},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.api.model.BuildCall">
    update BUILD_CALL
    set CREATED_DATE_TIME = #{createdDateTime,jdbcType=TIMESTAMP},
      OPEN_BID_TIME = #{openBidTime,jdbcType=VARCHAR},
      PUBLISH_END_TIME = #{publishEndTime,jdbcType=VARCHAR},
      TENDER_NAME = #{tenderName,jdbcType=VARCHAR},
      TENDERER_NAME = #{tendererName,jdbcType=VARCHAR},
      THIS_BUDGET = #{thisBudget,jdbcType=DECIMAL}
    where ID = #{id,jdbcType=VARCHAR}
  </update>

  <select id="selectAll" parameterType="com.common.model.PageData" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from BUILD_CALL
    order by CREATED_DATE_TIME desc

  </select>
</mapper>