<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.api.mapper.mybatis.PitMapper">
    <resultMap id="BaseResultMap" type="com.api.domain.output.MeetingRoom">
        <id column="ID" jdbcType="DECIMAL" property="id" />
        <result column="NAME" jdbcType="VARCHAR" property="name" />
        <result column="ip" jdbcType="VARCHAR" property="ip" />
    </resultMap>
    <sql id="Base_Column_List">
        ID,NAME,ip
    </sql>
    <select id="selectByIp" resultMap="BaseResultMap" parameterType="String">
        select
        <include refid="Base_Column_List" />
        from PIT WHERE AMPUTATED = 0  and ip like '%'||#{ip,jdbcType=VARCHAR}||'%'
    </select>
</mapper>